@font-face {
  font-family: novamono;
  src: url("fonts/novamono.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #172319;
  /*background-color: #fff;*/
}

@media screen and (min-width: 64em) {
  .navbar {
    z-index: 999;
    position: fixed;
    width: auto;
    display: flex;
    box-sizing: content-box;
    top: 1em;
    right: 1em;
    padding: 0.1em 0.2em;
    background: #fff;
    font-family: novamono, Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 1px solid #eee;
    border-radius: 0.15em;
    justify-content: center;
    align-items: center;
    box-shadow: 0em 0.1em 0.8em #3b594c;
  }

  .navbar .logo {
    display: inline-block;
    background-color: white;
  }

  .navbar .logo img {
    display: block;
    margin: auto;
    width: 1em;
    padding: 0px 5px;
  }

  .navbar a {
    display: inline-block;
    align-items: end;
    padding: 0px 10px;
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .navbar {
    z-index: 999;
    position: fixed;
    width: auto;
    display: flex;
    box-sizing: content-box;
    top: 1em;
    right: 1em;
    padding: 0.1em 0.2em;
    background: #fff;
    font-family: novamono, Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 1px solid #eee;
    border-radius: 0.15em;
    justify-content: center;
    align-items: center;
    box-shadow: 0em 0.1em 0.8em #3b594c;
  }

  .navbar .logo {
    display: inline-block;
    background-color: white;
  }

  .navbar .logo img {
    display: block;
    margin: auto;
    width: 1em;
    padding: 0px 5px;
  }

  .navbar a {
    display: inline-block;
    align-items: end;
    padding: 0px 10px;
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
  }
}

@media screen and (max-width: 42em) {
  .navbar {
    z-index: 999;
    position: fixed;
    width: auto;
    display: flex;
    box-sizing: content-box;
    top: 0.5em;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 0.1em 0.2em;
    background: #fff;
    font-family: novamono, Arial, Helvetica, sans-serif;
    font-size: 2em;
    border: 1px solid #eee;
    border-radius: 0.15em;
    justify-content: center;
    align-items: center;
    box-shadow: 0em 0.1em 0.8em #3b594c;
  }

  .navbar .logo {
    display: inline-block;
    background-color: white;
  }

  .navbar .logo img {
    display: block;
    margin: auto;
    width: 1em;
    padding: 0px 5px;
  }

  .navbar a {
    display: inline-block;
    align-items: end;
    padding: 0px 10px;
    text-decoration: none;
    color: #000;
    font-size: 0.9em;
  }
}

.navbar a:hover {
  text-decoration: underline;
}

/* content */

.first-page {
  display: flex;
  width: 100%;
  height: 100dvh;
  align-items: center;
}

/*
@media screen and (min-width: 64em) {

}

@media screen and (min-width: 42em) and (max-width: 64em) {

}

@media screen and (max-width: 42em) {

}*/

@media screen and (min-width: 64em) {
  .presentation {
    width: 60%;
    justify-content: center;
    margin: auto;
    padding: 28px;
    position: relative;
    overflow: visible; /* important : autoriser l'image à dépasser */
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .presentation {
    width: 80%;
    justify-content: center;
    margin: auto;
    position: relative;
    overflow: visible; /* important : autoriser l'image à dépasser */
  }
}

@media screen and (max-width: 42em) {
  .presentation {
    width: auto;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    position: relative;
    border-radius: 1em;
    box-shadow: 0em 0.1em 0.8em #3b594c;
  }
}

@media screen and (min-width: 64em) {
  .profile {
    width: 18em;
    height: 18em;
    margin-right: 18px;
    float: left; /* permet au texte de s'enrouler */
    object-fit: cover;
    border-radius: 1em 1em 0em 1em;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .profile {
    width: 15em;
    height: 15em;
    margin-right: 18px;
    float: left; /* permet au texte de s'enrouler */
    object-fit: cover;
    border-radius: 1em 1em 0em 1em;
  }
}

@media screen and (max-width: 42em) {
  .profile {
    display: block;
    width: 20em;
    height: 12em;
    margin: auto;
    margin-bottom: 0;
    object-fit: cover;
    border-radius: 1em 1em 0em 0em;
  }
}

@media screen and (min-width: 64em) {
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .description {
    margin-top: 100px;
    text-indent: 10px;
    padding: 0em 0em 0em 4em;
  }
}

@media screen and (max-width: 42em) {
  .description {
    width: 20em;
    margin: auto;
    margin-top: 0;
    text-indent: 10px;
  }
}

@media screen and (min-width: 64em) {
  .description p {
    background-color: #fff;
    line-height: 1.5;
    padding: 1em 2em;
    border-radius: 1em;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .description p {
    background-color: #fff;
    line-height: 1.5;
    padding: 1em 2em;
    border-radius: 1em;
  }
}

@media screen and (max-width: 42em) {
  .description p {
    background-color: #fff;
    line-height: 1.5;
    padding: 0.5em 1em;
    border-radius: 0em 0em 1em 1em;
  }
}

.next {
  background-color: white;
  height: 100vh;
}

.second-page {
  width: 100%;
  height: 100dvh;
  padding-bottom: 50px;
  background-color: white;
  overflow: hidden;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

/* Scroll */

.plats {
  width: 250px;
  display: inline-block;
  border-radius: 1em 1em 1em 1em;
  margin-top: 50px;
  box-shadow: 0em 0.1em 0.8em #3b594c;
}

.slider {
  width: 250px;
  height: 250px;
  overflow: hidden;
  border-radius: 1em 1em 0em 0em;
}

.slides {
  display: flex;
  width: 250px; /* 3 images */
  height: 100%;
  animation: slide 33s infinite linear;
}

.slide {
  flex: 0 0 100%;
  min-height: 400px; /* hauteur du slider */
  position: relative;
}

.slide img {
  width: 250px;
  height: 250px;
  object-fit: cover; /* couvre sans déformer */
  display: block;
}

.menu {
  width: 220px;
  padding: 15px;
  border-radius: 0em 0em 1em 1em;
}

@keyframes slide {
  /* slide 1 visible */
  0% {
    transform: translateX(0%);
  }
  30.303% {
    transform: translateX(0%);
  }

  /* transition vers slide 2 (poussée) */
  33.333% {
    transform: translateX(-100%);
  }

  /* slide 2 visible */
  63.636% {
    transform: translateX(-100%);
  }

  /* transition vers slide 3 */
  66.667% {
    transform: translateX(-200%);
  }

  /* slide 3 visible */
  96.97% {
    transform: translateX(-200%);
  }

  /* transition retour vers slide 1 */
  100% {
    transform: translateX(0%);
  }
}
